CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
# Or use separate Cloudinary variables:
# CLOUDINARY_CLOUD_NAME=<cloud_name>
# CLOUDINARY_API_KEY=<api_key>
# CLOUDINARY_API_SECRET=<api_secret>

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=<smtp_login>
EMAIL_HOST_PASSWORD=<smtp_key>
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=MFC Pet Care <noreply@mfcpetcare.xyz>
