{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard | MFC Pet Life</title>

    <link rel="stylesheet" href="{% static 'css/admin/admin_dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

   
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
</head>
<body>

<div class="sidebar">
    <div>
        <h2>🐾 Admin Panel</h2>
        <div class="nav-links">
            <a href="{% url 'admin_dashboard' %}" class="active">🏠 Dashboard</a>
            <a href="{% url 'clients_pets' %}">👥 Clients & Pets</a>
            <a href="{% url 'appointment_list' %}">📅 Appointment List</a>
            <a href="{% url 'vet_availability_admin' %}">🩺 Vet Availability</a>
        </div>
    </div>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Log Out</button>
    </form>
</div>


<div class="main-content">
    <div class="dashboard-header">
        <h1>Admin Dashboard</h1>
    </div>


    <div class="card-container">
         <a href="{% url 'clients_pets' %}?show=clients" class="card link-card">
        <h2>{{ total_users }}</h2>
        <p>Total Clients</p>
    </a>

        <a href="{% url 'clients_pets' %}?show=pets" class="card link-card">
            <h2>{{ total_pets }}</h2>
            <p>Total Pets</p>
        </a>

        <a href="{% url 'clients_pets' %}" class="card link-card">
            <h2>{{ total_vaccines }}</h2>
            <p>Vaccine Records</p>
        </a>

        <a href="{% url 'appointment_list' %}" class="card link-card">
            <h2>{{ total_appointments }}</h2>
            <p>Appointments</p>
        </a>

        <a href="{% url 'vet_availability_admin' %}" class="card link-card">
            <h2>{{ total_vets }}</h2>
            <p>Vet Schedules</p>
        </a>
    </div>

 
    <div class="chart-container">
        <h2></h2>
        <div id="calendar"></div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        height: 600,
        events: "{% url 'admin_appointments_json' %}",
        eventClick: function(info) {
            alert(
                "Client: " + info.event.extendedProps.client +
                "\nPet: " + info.event.extendedProps.pet +
                "\nStatus: " + info.event.extendedProps.status
            );
        }
    });

    calendar.render();
});
</script>

</body>
</html>
